<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="description" content="Beanstalk provides the best possible coffee experience at events and outdoor locations across the UK.">
  <meta name="keywords" content="kaffeine, caffeine, has bean, square mile, cafe, deli, sandwich, luxury, lunch, gourmet coffee, gingerbread men, flat white, espresso, barista, coffee, london, uk, cafe, brew, london, barista championships, fresh">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=1">
  <link rel="icon" type="image/png" href="/assets/images/favicon.png">
  <link rel="stylesheet" type="text/css" href="/app/css/normalize.css">
  <link rel="stylesheet" type="text/css" href="/app/css/master.css">
  <title>Beanstalk Coffee</title>
</head>
<body class="b-body">
  <header id="beanstalk" class="b-header">
    <nav class="b-nav">
      <ul>
        <li><a class="e-navlink" href="#brand" title="brand">beanstalk</a></li>
        <li><a class="e-navlink" href="#intro" title="intro">about</a></li>
        <!-- <li><a class="e-navlink" href="#people" title="people">people</a></li>
        <li><a class="e-navlink" href="#suppliers" title="suppliers">suppliers</a></li> -->
        <li><a class="e-navlink" href="#hospitality" title="hospitality">hospitality</a></li>
        <!-- <li><a class="e-navlink" href="#media" title="media">media</a></li> -->
      </ul>
    </nav>
  </header>
  <section id="brand" class="b-section b-brand">
    <h1><a href="http://beanstalkcoffee.co.uk" title="Beanstalk"><span>Beanstalk</span></a></h1>
    <ul class="b-contact">
      <li class="m-twitter">
        <a href="http://twitter.com/beanstalklondon" title="Twitter @beanstalklondon">@beanstalklondon</a>
      </li>
      <li class="m-email">
        <a href="mailto:beanstalkcoffee@live.com" title="Email">beanstalkcoffee@live.com</a>
      </li>
      <li class="m-phone">
        +44 7854 895078
      </li>
    </ul>
  </section>
  <section id="intro" class="b-section b-intro">
    <article class="b-content">
      <p>
        Beanstalk provides the ultimate bespoke coffee experience at events and outdoor
        locations across the UK.
      </p>
      <p>
        For us, it's about serving directly traded speciality coffee with verve and
        panache for your guests to savour and enjoy.
      </p>
      <p>
        The delivery of great coffee comes down to people. The founder of Beanstalk
        Shaun Young, is the UK Aeropress Champion and is accompanied by a selection
        of the UK's best baristas who are the heart and soul of many of London's great
        coffee bars.
      </p>
      <p>
        Beanstalk operates a bespoke hand-crafted espresso bar where our ethos is
        built on providing a unique coffee experience that matches the UK's leading
        artisan cafes.
      </p>
      <p>
        Working with our well sourced suppliers our philosophy is totally dedicated
        to uncompromising quality.
      </p>
      <p>
        We started this venture with the aim of delivering the best possible coffee
        experience at outdoor events and conferences. Great time and consideration
        has been invested throughout, enabling us to provide a dynamic, young
        and passionate company.
      </p>
      <!-- <img class="m-gutter m-right" src="/assets/images/logo_small.png" alt="beanstalk"> -->
    </article>
  </section>
  <!-- <section id="people" class="b-section b-people">
    <div class="b-content">
      <h2 class="e-title">People</h2>
      <article class="b-person">
        <h3 class="e-name">Shaun Young &mdash; Founder</h3>
        <p>
          Through a culmination of knowledge, capability and three years dedication
          Shaun became the UK Aeropress Champion in 2012, going on to represent the
          UK at the World Aeropress Championships in Portland, Oregon. Shaun is the
          current Head Barista of Kaffeine, one of the UK’s leading artisan cafes.
        </p>
        <p>
          With experience in Michelin starred restaurants, British gastro pubs and
          speciality cafe’s both in the UK and Australia, Shaun’s understanding of
          the hospitality industry is extensive.
        </p>
      </article>
      <article class="b-person">
        <h3 class="e-name">Blazej Stempin &mdash; Barista</h3>
        <p>
          Polish born Blazej is the most highly skilled barista that we have the
          pleasure of working with. Passion, combined with an unparalleled knowledge
          of specialty coffee, has resulted in numerous awards throughout his six
          years in the industry. Awards include: Polish Cup Tasters Champion 2011 and
          Polish Brewers Champion 2012.
        </p>
      </article>
      <article class="b-person">
        <h3 class="e-name">Niall Graham &mdash; Barista</h3>
        <p>
          Niall has worked across the globe serving up stellar coffee in Australia,
          London and Edinburgh. Niall's friendly and laid-back rapport with
          customers paired with his flair as a barista makes him a true asset
          to the company.
        </p>
      </article>
      <article class="b-person">
        <h3 class="e-name">Ben Drury &mdash; Barista</h3>
        <p>
          With five years in the industry, Ben is regarded as one of the UK's best
          baristas. Starting his career at Coffee Aroma in Lincoln, consistently
          voted one of the best cafes outside of the capital, Ben quickly
          progressed in London's cafe scene, and now manages Notes, Trafalgar
          Square. Taking an interest in wider food and drink culture, Ben's ability,
          combined with incredibly enthusiastic and welcoming customer service,
          is the reason he has become a distinguished figure in the industry. 
        </p>
      </article>
      <article class="b-person">
        <h3 class="e-name">Claire Brice &mdash; Barista</h3>
        <p>
          Born in Australia and with four years experience in London’s coffee scene,
          Claire is exceptionally talented behind the espresso machine and has all
          round expertise in the hospitality industry. Passion and determination
          combined with a professional approach have enabled Claire to become a
          great barista.
        </p>
      </article>
      <article class="b-person">
        <h3 class="e-name">Pete Garcia &mdash; Barista</h3>
        <p>
          Splitting his time between barista training, machine maintenance and
          working as a barista, Peter combines many aspects of the coffee industry
          into his weekly schedule. Peter made the move from Sydney to London eight
          years ago, and brought with him many years of experience in the hospitality
          industry, both customer facing and back of house.  He can now be found
          pulling shots at Dose Espresso, and working alongside restaurants and
          cafes, helping to improve their coffee offering.
        </p>
      </article>
    </div>
  </section>

  <section id="suppliers" class="b-section b-suppliers">
    <div class="b-content">
      <h2 class="e-title">Suppliers</h2>
      <p>
        Beanstalk is built on providing the finest possible products. As a company we are
        incredibly proud to work with our suppliers.
      </p>
      <article class="b-supplier">
        <div>
          <h3 class="e-title"><a href="http://www.hasbean.co.uk">Has Bean</a></h3>
          <p>
            Has Bean Coffee is a small speciality roastery focussed on sourcing
            incredible coffee and roasting with great care to deliver the best
            possible cup. Sourcing the majority of their coffee direct from
            individual farmers their key values are honesty, provenance, freshness
            and great flavour – they are proud to have their coffee brewed by some
            of the most passionate and skilled coffee people in the world.
          </p>
        </div>
      </article>
      <article class="b-supplier">
        <div>
          <h3 class="e-title"><a href="http://www.rareteacompany.com">Rare Tea Company</a></h3>
          <p>
            Rare Tea is a small, independent company based in London.
          </p>
          <p>
            Rare Tea was founded in 2004, by Henrietta Lovell (known as the
            Tea-Lady) to source and supply the world's best tea - direct from
            farmers and their tea gardens.
          </p>
          <p>
            From humble beginnings with just a handful of devoted customers,
            they now collaborate with many of the world's finest chefs and
            restaurateurs.
          </p>
        </div>
      </article>
      <article class="b-supplier">
        <div>
          <h3 class="e-title"><a href="http://www.ivyhousefarmdairy.co.uk/">Ivy House Farm</a></h3>
          <p>
            Having started farming in the lovely Somerset village of Beckington in the early eighties, Ivy House Farm now milk 120 Jersey cows, rear all there calves and aim to grow all the feed for the animals.
          </p>
          <p>
            Everybody in the family is involved in the business from taking orders, milking the cows, packaging products to delivering the milk and cream.
          </p>
          <p>
            Processing all their own milk products has allowed the small farm to survive. By offering this organic jersey milk, we are supporting the countryside, their community, the animals and their environment
          </p>
        </div>
      </article>
    </div>
  </section> -->
  <section id="hospitality" class="b-hospitality">
  <div class="b-content">
  <h2 class="e-title">Hospitality</h2>
    <article>
<p>Wherever you need excellent coffee, Beanstalk can deliver. At conferences, corporate hospitality events, private functions or wherever you choose.</p>
<p>We provide a fully stocked and professional barista service that far exceeds most cafés in terms of the quality product and customer service.</p>
<p>Beanstalk supplies you with everything to serve a full menu of directly traded speciality coffees plus a selection of loose leaf tea’s and hot chocolate.</p>
<p>We are equipped with state of the art mobile coffee equipment, allowing us to serve coffee at high volume with speed and efficiency.</p>
<p>Beanstalk looks forward to delivering exceptional coffee to your clients. Please contact us with your requirements.</p>
    </article>
    </div>
  </section>
  <!-- <section id="media" class="b-media"> -->
  <!--   <div class="b-content"> -->
  <!--     <h2 class="e-title">Media</h2> -->
  <!--     <article> -->
  <!--       <p>At Beanstalk, we pride ourselves on the quality of our craft and we like to highlight mentions of our brand and team</p> -->
  <!--     </article> -->
  <!--     <ul> -->
  <!--       <li><a href="http://www.coffeemumbojumbo.com/2013/01/19/rubbing-shoulders/">Rubbing Shoulders, Coffee Mumbo Jumbo</a></li> -->
  <!--       <li><a href="http://londonbarista.wordpress.com/2013/04/15/push-ahead-brewing-aeropress-with-shaun-young/">Push Ahead: Brewing AeroPress with Shaun Young, Lonon Barista</a></li> -->
  <!--       <li><a href="http://www.ukcoffeeweek.com/getattachment/267e64cb-9a52-4f48-8c39-254ac9541263/Straight-from-the--Barista-s--mouth-(2).pdf.aspx">Straight from the barista's mouth</a></li> -->
  <!--       <li><a href="http://vespertinepress.tumblr.com/post/20349271522">UK AeroPress Championships 2012</a></li> -->
  <!--     </ul> -->
  <!--   </div> -->
  <!-- </section> -->
  <footer class="b-footer">
    <p>Copyright &copy; 2013 Beanstalk Coffee. All rights reserved.</p>
  </footer>
  <script type="text/javascript">

    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-38906614-1']);
    _gaq.push(['_trackPageview']);

    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();

  </script>
  <script src="components/jquery/jquery.js"></script>
  <script src="components/jquery.scrollTo/jquery.scrollTo.min.js"></script>
  <script src="components/es5-shim/es5-shim.js"></script>
  <script src="components/es5-shim/es5-sham.js"></script>
  <script src="components/requirejs/require.js"></script>
  <script>
    require(
      [
        'components/flight/lib/compose',
        'components/flight/lib/registry',
        'components/flight/lib/advice',
        'components/flight/lib/logger',
        'components/flight/tools/debug/debug'
      ],

      function(compose, registry, advice, withLogging, debug) {
        debug.enable(true);
        compose.mixin(registry, [advice.withAdvice, withLogging]);
        require(['app/javascript/page'], function(initialize) {
          initialize();
        });
      }
    );
  </script>
</body>
</html>
